extends header

block #content
  #container

    h1 TIC-TAC-TOE

    #gameBoard
      .row
        #box1.box
        #box2.box
        #box3.box
      .row
        #box4.box
        #box5.box
        #box6.box
      .row
        #box7.box
        #box8.box
        #box9.box

    h2
